@page "/"

<PageTitle>Moogle!</PageTitle>
<body>

<h1>🔍 Moogle!</h1>
<form @onsubmit="RunQuery">
<input type="text" name="text" class="input" @bind="query"  placeholder="Introduzca su búsqueda">

@* <input class="p-1 my-4" @bind="query" placeholder="Introduzca su búsqueda"> *@
</form>
<button type="default" class="btn btn-primary" @onclick="RunQuery">🔍 Buscar</button>

@if (!string.IsNullOrEmpty(result.Suggestion)) {
    <div class="suggestion">
        <p>¿Ud. quiso decir  <strong><a href="#" @onclick="SearchSuggestion">@result.Suggestion</a></strong>?</p>
    </div>
}
@*else
@if (string.IsNullOrEmpty(result.Suggestion) && !string.IsNullOrEmpty(query)) {
    <div class="suggestion">
        <p>Se muestran los Resultados de:   <strong><a href="#">@query</a></strong></p>
    </div>
}*@
<div>
<ul class="results">
@foreach (var item in result.Items()) {

    <li>

        <div class="item">
  <div class="item-details">
  <a class="title">@item.Title</a>
   <p>...@item.Snippet...</p>
  </div>
  @* <button class="item-button" role="link" href=@item.Title> Abrir Documentos </button> *@
  <a class="item-button" href=@item.Title > Abrir Documento </a>
  
   @* <form method="POST" action=@item.Title>
    <button class="item-button" type="submit" href=@item.Title> Abrir Documentos</button>
  </form> *@
</div>
        @* <div class="item">
            <p class="title"><a href="?" @onclick="@(e=> OpenDocument(item.Title))">@item.Title</a></p>
            <p>...@item.Snippet...</p>
        </div> *@
    </li>
    
}
</ul>
</div>
</body>
@code {
    private string query = "";
    private SearchResult result = new SearchResult();

    private void RunQuery() {
        result = Moogle.Query(query);
    }

    private void SearchSuggestion() {
        query = @result.Suggestion;
        RunQuery();
    }
   private void OpenDocument(string fileTitle)
   {
try{

}
catch
{
    System.Console.WriteLine("Couldn't open file...");

}

   }
}
